h1{
    font-family: 'Piedra', cursive;
    text-align: center;
}
table{
margin:auto;
border-spacing: 10px;
}
td{
    height:400;
    width:200;
    border-style: solid;
    border-color:white;

}
#one{
    background-color:#247BA0 ;
}

#two{
    background-color:#70C183;
}
#three{
    background-color: #B2D0BF;
}
#four{
    background-color:#F3FFBD ;
}
#five{
    background-color:#FF1654 ;
}